:root {
    --sidebar-bg: #141719;
    --sidebar-hover-bg: #495057;
    --sidebar-collapse-bg: #33373b;
    --sidebar-collapse-hover-bg: #292a2b;
    --main-bg: #f8f9fa;
    --text-color: white;
    --icon-margin: 10px;
}