:root {
    --main-clr:#DF5D29;
    --main-clr-2:#003453;
    --sidebar-bg: #F8F8F7;
    --sidebar-hover-bg: #F0F0EF;
    --sidebar-collapse-bg: #F8F8F7;
    --sidebar-collapse-hover-bg: #F0F0EF;
    --main-bg: #FFFFFF;
    --text-color: black;
    --icon-margin: 10px;
    --click-bg: #D2D2D1;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}