@import url(root.css);
@import url(sidebar.css);
@import url(dashboard.css);
body {
    background-color: var(--main-bg);
    font-family: var(--font-family);
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}
.icon {
    margin-right: var(--icon-margin);
}
.class-name{
    padding: 5px 20px !important;
}